[user]
	name = HuRuilizhen
	email = huruilizhen@gmail.com

[core]
	editor = nvim
	pager = delta
	whitespace = trailing-space,space-before-tab

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
